@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cabin-font {
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parent-container {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1220px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 65px;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo-header a {
    display: block;
    max-width: 200px;
    width: 100%;
}

.logo-header img {
    width: 100%;
    height: 100%;
}


.nav-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-button {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: white;
    text-align: center;
    font-weight: 700;
}

.nav-select {
    background-color: transparent;
    border: none;
    outline: none;
    
}

.hero-section {
    margin-top: 100px;
}


.hero-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 18px;
    align-items: center;
    color: #37393F;
}

.hero-title h2 {
    font-size: 40px;
    font-weight: 700;
}


.hero-benefits {
    width: 100%;
    display: flex;
    gap: 31px;
}

.benefit-card {
    max-width: 386px;
    width: 100%;
    height: 383px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.card-container {
    max-width: 300px;
    width: 100%;
    height: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    color: #7D7D7D;
}

.benefit-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.benefit-card-title h3 {
    font-size: 25px;
    color: #37393F;
    font-weight: 700;
}

.benefit-card-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 43px;
}

.benefit-card-icons h3 {
    color: #6B77E5;
    font-weight: 600;
    font-size: 18px;
}

.benefit-card-circle {
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple-circle {
    background-color: #6B77E5;
}